<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Home page">


<form class="form-horizontal">
	<fieldset>
		<legend>${i18n("agendaForm_Title")}</legend>
		<div class="row">
			<div class="col-lg-3">
				<div class="row">
					<div>
						<label class="control-label" for="place">${i18n("agendaForm_Label_Place")}</label>
						<div class="controls">
							<input type="text" class="form-control" id="place" />
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-2">
				<div class="form-actions">
					<button type="button" id="agendaForm_Button_AddAgendaItem" class="btn btn-primary btn-block">${i18n("agendaForm_Button_AddAgendaItem")}</button>
					<button type="submit" class="btn btn-primary btn-block">${i18n("generic_Button_SaveChanges")}</button>
					<button type="button" class="btn btn-block">${i18n("generic_Button_Cancel")}</button>
				</div>
			</div>
		</div>
		<div class="row">
		<h4>${i18n("agendaForm_SubTitle_AgendaItems")}</h4>
			<table class="table">
				<thead>
					<tr>
						<th>${i18n("agendaForm_TableHeader_AgendaItem")}</th>
						<th>${i18n("agendaForm_TableHeader_AgendaItemTitle")}</th>
						<th>${i18n("agendaForm_TableHeader_AgendaItemPublic")}</th>
					</tr>
				</thead>
				<tr>
					<td>1</td>
					<td>a fancy title example</td>
					<td>YES</td>
				</tr>
			</table>
		</div>



	</fieldset>
</form>


</@layout.myLayout>
