<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<form class="form-horizontal" method="post" action="/user">  
        <fieldset>  
          <legend>TODO:implement i18nTextHereEverywhere</legend>  
          <div class="form-group">  
            <label class="col-lg-2 control-label" for="foreName">forename</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="foreName" name="foreName">   
            </div>  
          </div>             
          <div class="form-group">  
            <label class="col-lg-2 control-label" for="surName">surname</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="surName" name="surName">   
            </div>  
          </div>             
          <div class="form-group">  
            <label class="col-lg-2 control-label" for="email">email</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="email" name="email">   
            </div>  
          </div>             
          <div class="form-group">  
            <label class="col-lg-2 control-label" for="matricle">matricleno</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="matricle" name="matricleNo">   
            </div>  
          </div>             
          <div class="form-group">  
            <label class="col-lg-2 control-label" for="telephone">Telphoneno</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="telphoneno" name="telephoneNo">   
            </div>  
          </div>
          <div class="form-group">  
            <label class="col-lg-2 control-label" for="postal">postal</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="postal" name="postal" name="postal">   
            </div>  
          </div>
		<div class="form-group">  
            <label class="col-lg-2 control-label" for="street">street</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="street" name="street">   
            </div>  
          </div>
             <div class="form-group">  
            <label class="col-lg-2 control-label" for="city">city</label>  
            <div class="col-lg-5">  
              <input type="text" class="input" id="city" name="city">   
            </div>  
          </div>  
		<div class="form-group">  
            <label class="col-lg-2 control-label" for="streetNo">streetno</label>  
            <div class="col-lg-5">  
              <input type="text" class="input " id="streetNo" name="streetNo">   
            </div>  
          </div>  

          <div class="form-actions col-lg5">  
            <button type="submit" class="btn btn-primary">Save changes</button>  
            <button class="btn">Cancel</button>  
          </div>  
        </fieldset>  
</form>


</@layout.myLayout>
